.users {
  margin-top: 20px;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;

  &__container {
    padding: 32px;
    width: 400px;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    border-radius: 16px;
    background: transparent;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
  }

  &__list {
    margin-top: 16px;
    text-align: center;
    min-width: 220px;
    display: flex;
    flex-direction: column;
    gap: 12px;
    justify-self: flex-start;
  }
}