.pagination {
  display: flex;
  align-items: center;
  justify-self: flex-end;
  transition: .3s ease;
  will-change: transform;
  backface-visibility: hidden;

  &__img {
    display: block;
    transition: .3s ease;

    &--left {
      &:hover {
        transform: translateX(-4px);
        transition: .3s ease;
      }
    }

    &--right {
      &:hover {
        transform: translateX(4px);
        transition: .3s ease;
      }
    }
  }
}