.user__details {
  width: 100%;
  height: 88vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;

  &-container {
    width: 900px;
    margin: 0 auto;
    display: flex;
    gap: 40px;

  }

  &-profile {
    display: flex;
    gap: 40px;
    padding: 20px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(5px);
    border-radius: 20px;

    &-info {

    }
  }

  &-recipes {
    padding: 20px;
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(5px);
    border-radius: 20px;

    &-title {
      text-align: center;
    }

    &-list {
      margin-top: 12px;
    }

    &-item {
      padding: 4px 12px;
      justify-self: flex-start;
      align-self: flex-start;
      border: 1px solid black;
      border-radius: 20px;
      transition: all 0.3s ease;
      transform-origin: center;
      will-change: transform;
      backface-visibility: hidden;

      &:hover {
        background-color: rgba(255, 255, 255, 0.34);
        transform: scale(1.1);
      }
    }
  }
}