.recipe__item {
  padding: 12px;
  border-radius: 16px;
  transition: .3s ease;
  will-change: transform;
  backface-visibility: hidden;
  background: rgba(255, 255, 255, 0.49);

  &:hover {
    &:hover {
      background-color: rgba(255, 255, 255, 0.6);
      transform: scale(1.1);
    }
  }
}