.search-results{
  margin-top: 4px;
  background: rgba(234, 234, 234, 0.79);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);

  color: black;
  border-radius: 20px;
  max-height: 408px;
  overflow-y: auto;
}
.search-results__item{
  padding: 8px;
  &:hover{
    background: rgba(255, 255, 255, 0.48);

  }
}

.search__wrapper{
  position: relative;
}

.search-results {
  position: absolute;
  z-index: 2;
  width: 400px;

  border-radius: 20px;
}
.search-results__item h2{
  padding: 0 10px;
}